In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import astropy
from astropy import io 
from astropy.io import ascii

In [2]:
df=pd.read_csv('1st plot ratio-1.csv')
df

,pl_name (Exoplanet),hostname (Host star),pl_orbsmax (d),pl_rade (Dp),st_rad (Ds),Diameter of planet in terms of Earth's diameter,Diameter of star in terms of Sun's diameter,Ds/Dp,d/Ds
0,EPIC 201595106 b,EPIC 201595106,NaN,1.200,0.99,1.200,0.99,90.028222,0.000000
1,EPIC 201757695.02,EPIC 201757695,0.0296,0.908,0.66,0.908,0.66,79.320019,4.819859
2,EPIC 206024342 c,EPIC 206024342,NaN,1.400,1.10,1.400,1.10,85.741164,0.000000
3,EPIC 212587672 b,EPIC 212587672,NaN,1.260,0.98,1.260,0.98,84.875091,0.000000
4,EPIC 212624936 b,EPIC 212624936,NaN,1.200,0.93,1.200,0.93,84.571966,0.000000
...,...,...,...,...,...,...,...,...,...
670,Kepler-990 c,Kepler-990,0.0127,1.670,1.21,1.670,1.21,79.066702,1.127989
671,Kepler-997 b,Kepler-997,0.0400,1.070,1.19,1.070,1.19,121.363449,3.612431
672,Kepler-999 b,Kepler-999,0.0710,2.500,1.87,2.500,1.87,81.625588,4.080405
673,TOI-1860 b,TOI-1860,NaN,1.270,0.93,1.270,0.93,79.910519,0.000000
674,TOI-411 b,TOI-411,NaN,1.547,1.12,1.547,1.12,79.004610,0.000000

In [3]:
pd=pd.read_csv("2nd plot ratio-2.csv")
pd

,pl_name (Exoplanet),hostname (Host star),pl_orbsmax (d),pl_rade (Dp),st_rad (Ds),Diameter of planet in terms of Earth's diameter,Diameter of star in terms of Sun's diameter,Ds/Dp,d/Ds
0,30 Ari B b,30 Ari B,1.0100,NaN,1.13,0.00,1.13,NaN,96.057103
1,55 Cnc f,55 Cnc,0.7920,NaN,0.96,0.00,0.96,NaN,88.662608
2,7 CMa b,7 CMa,1.9000,NaN,2.30,0.00,2.30,NaN,88.779423
3,BD+14 4559 b,BD+14 4559,0.7800,NaN,0.86,0.00,0.86,NaN,97.472634
4,GJ 3293 c,GJ 3293,0.3640,NaN,0.40,0.00,0.40,NaN,97.797543
...,...,...,...,...,...,...,...,...,...
130,Kepler-712 c,Kepler-712,0.6820,4.41,0.72,4.41,0.72,17.816346,101.797809
131,Kepler-87 c,Kepler-87,1.3423,4.96,1.29,4.96,1.29,28.381331,111.826938
132,Kepler-967 c,Kepler-967,0.5680,2.86,0.63,2.86,0.63,24.038050,96.893432
133,PH2 b,PH2,0.8360,8.98,0.91,8.98,0.91,11.058336,98.730523
134,WASP-47 c,WASP-47,1.3600,NaN,1.15,0.00,1.15,NaN,127.094753

In [5]:
len(df)

675