In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Reading

In [2]:
df=pd.read_csv('1st plot ratio-1.csv')
df.drop(['Ds/Dp','d/Ds'],axis=1)

,pl_name (Exoplanet),hostname (Host star),pl_orbsmax (d),pl_rade (Dp),st_rad (Ds),Diameter of planet in terms of Earth's diameter,Diameter of star in terms of Sun's diameter
0,EPIC 201595106 b,EPIC 201595106,NaN,1.200,0.99,1.200,0.99
1,EPIC 201757695.02,EPIC 201757695,0.0296,0.908,0.66,0.908,0.66
2,EPIC 206024342 c,EPIC 206024342,NaN,1.400,1.10,1.400,1.10
3,EPIC 212587672 b,EPIC 212587672,NaN,1.260,0.98,1.260,0.98
4,EPIC 212624936 b,EPIC 212624936,NaN,1.200,0.93,1.200,0.93
...,...,...,...,...,...,...,...
670,Kepler-990 c,Kepler-990,0.0127,1.670,1.21,1.670,1.21
671,Kepler-997 b,Kepler-997,0.0400,1.070,1.19,1.070,1.19
672,Kepler-999 b,Kepler-999,0.0710,2.500,1.87,2.500,1.87
673,TOI-1860 b,TOI-1860,NaN,1.270,0.93,1.270,0.93
674,TOI-411 b,TOI-411,NaN,1.547,1.12,1.547,1.12

In [3]:
kepler_452b_df = df[df['pl_name (Exoplanet)'] == 'Kepler-62 f']

# Print the resulting DataFrame
kepler_452b_df

Empty DataFrame
Columns: [pl_name (Exoplanet), hostname (Host star), pl_orbsmax (d), pl_rade (Dp), st_rad (Ds), Diameter of planet in terms of Earth's diameter, Diameter of star in terms of Sun's diameter, Ds/Dp, d/Ds]
Index: []

In [4]:
v= input(print("exoplanet?"))

if v in df['pl_name (Exoplanet)'].values:
    print(f"{v} exists in the 'pl_name' column.")
else:
    print(f"{v} does not exist in the 'pl_name' column.")

exoplanet?

None Kepler-990 c

Kepler-990 c	 does not exist in the 'pl_name' column.

In [5]:
earth = ['Earth', 'sun', 1,1, 1, 1, 1]  # Replace 0s with your data
koi= ['KOI-4878.01', 'KOI-4878',1.137,1.04,1.131,1.04]
lhs=['LHS 1140 b','LHS 1140',0.0957,1.635,1.730,1.635,1.730,116.126,5.957]
df.loc[len(df)] = earth
df.loc[len(df)]= koi
df.loc[len(df)]= lhs

ValueError: cannot set a row with mismatched columns

In [ ]:
if 'LHS1 1140b' in df['pl_name (Exoplanet)'].values:
    print("LHS-1140 b exists in the 'pl_name' column.")
else:
    print("LHS-1140 b does not exist in the 'pl_name' column.")

# Plotting

In [ ]:
from matplotlib.lines import Line2D

plt.figure(figsize=(10, 6))

# Iterate through the DataFrame and plot scatter points
for index, row in df.iterrows():
    color = 'yellow' if row['pl_name (Exoplanet)'] == 'Earth' else 'blue'
    plt.scatter(row['pl_rade (Dp)'], row['st_rad (Ds)'], color=color, alpha=0.7)

    # Highlight Kepler-452 b and Kepler-62f with special markers
    if row['pl_name (Exoplanet)'] == 'Kepler-452 b':
        plt.scatter(row['pl_rade (Dp)'], row['st_rad (Ds)'], color='red', marker='*', s=100, label='Kepler-452 b')
    if row['pl_name (Exoplanet)'] == 'Kepler-62 f':
        plt.scatter(row['pl_rade (Dp)'], row['st_rad (Ds)'], color='purple', marker='*', s=100, label='Kepler-62 f')
    
    if row['pl_name (Exoplanet)']== 'KOI-4878.01':
        plt.scatter(row['pl_rade (Dp)'], row['st_rad (Ds)'], color='black', marker='*', s=100, label='KOI-4878.01')
    if row['pl_name (Exoplanet)']== 'LHS 1140 b':
        plt.scatter(row['pl_rade (Dp)'], row['st_rad (Ds)'], color='green', marker='*', s=100, label='KOI-4878.01')
        
# Plot the line y = x passing through the origin
max_value = max(df['pl_rade (Dp)'].max(), df['st_rad (Ds)'].max())
plt.plot([0, max_value], [0, max_value], color='green', linestyle='dashed', label='y = x')

# Create custom legend entries for different markers
legend_entry = Line2D([0], [0], marker='o', color='w', markerfacecolor='blue', markersize=8, label='Exoplanets')
legend_entry_1 = Line2D([0], [0], marker='o', color='w', markerfacecolor='yellow', markersize=8, label='Earth')

legend_entry_3 = Line2D([0], [0], marker='*', color='red', markersize=10, label='Kepler-452 b')
legend_entry_4 = Line2D([0], [0], marker='*', color='purple', markersize=10, label='Kepler-62 f')
legend_entry_5 = Line2D([0], [0], marker='*', color='black', markersize=10, label='KOI-4878.01')
legend_entry_6 = Line2D([0], [0], marker='*', color='green', markersize=10, label='LHS 1140 b')


# Set the x-axis and y-axis limits
plt.xlim(0, 2)
plt.ylim(0, 2)

# Add the custom legend entries along with the line legend
plt.legend(handles=[legend_entry_1, legend_entry,legend_entry_3, legend_entry_4,legend_entry_5,legend_entry_6], loc='upper left')

# Use LaTeX-style formatting for the axis labels
plt.xlabel('Diameter of planet ($D_p$)')
plt.ylabel('Diameter of star ($D_s$)')
plt.title('Plot of $D_s$ $v/s$ $D_p$')
plt.grid(True)
plt.savefig('exoplanet_plot.pdf', format='pdf', bbox_inches='tight')
plt.show()
dff=pd.read_csv('2nd plot ratio-2.csv')
dff

# Create a list with your own data for the new row
earth = ['Earth', 'sun', 1,1, 1, 1, 1,109.7522, 107.1428]  # Replace 0s with your data
koi= ['KOI-4878.01', 'KOI-4878',1.137,1.04,1.131,1.04,1.131,138.24,108.275]
lhs=['LHS 1140 b','LHS 1140',0.0957,1.635,1.730,1.635,1.730,116.126,5.957]


# Add the new row to the DataFrame
dff.loc[len(dff)] = earth
dff.loc[len(dff)]= koi
dff.loc[len(dff)]= lhs


# Reset the index
dff = dff.reset_index(drop=True)

# Print the DataFrame after adding the new row
dff

plt.figure(figsize=(10, 6))
for index, row in dff.iterrows():
    color = 'yellow' if row['pl_name (Exoplanet)'] == 'Earth' else 'blue'
    plt.scatter(row['st_rad (Ds)'], row['pl_orbsmax (d)'], color=color, alpha=0.7)
    
    if row['pl_name (Exoplanet)'] == 'Kepler-452 b':
        plt.scatter(row['st_rad (Ds)'], row['pl_orbsmax (d)'], color='red', marker='*', s=100, label='Kepler-452 b')
        
    if row['pl_name (Exoplanet)'] == 'Kepler-62 f':
        plt.scatter(row['st_rad (Ds)'], row['pl_orbsmax (d)'], color='purple', marker='*', s=100, label='Kepler-62 f')
        
    if row['pl_name (Exoplanet)']== 'KOI-4878.01':
        plt.scatter(row['st_rad (Ds)'], row['pl_orbsmax (d)'], color='black', marker='*', s=100, label='KOI-4878.01')
    if row['pl_name (Exoplanet)']== 'LHS 1140 b':
        plt.scatter(row['st_rad (Ds)'], row['pl_orbsmax (d)'], color='green', marker='*', s=100, label='LHS 1140 b')

# Plot the line y = x passing through the origin
max_value = max(df['st_rad (Ds)'].max(), df['pl_orbsmax (d)'].max())
plt.plot([0, 6], [0, 6], color='green', linestyle='dashed')

# Create a custom legend entry for the blue data points
legend_entry = Line2D([0], [0], marker='*', color='w', markerfacecolor='blue', markersize=8, label='Exoplanets')
legend_entry_1 = Line2D([0], [0], marker='*', color='w', markerfacecolor='yellow', markersize=8, label='Earth')

legend_entry_3 = Line2D([0], [0], marker='*', color='red', markersize=10, label='Kepler-452 b')
legend_entry_4 = Line2D([0], [0], marker='*', color='purple', markersize=10, label='Kepler-62 f')
legend_entry_5 = Line2D([0], [0], marker='*', color='black', markersize=10, label='KOI-4878.01')
legend_entry_6 = Line2D([0], [0], marker='*', color='green', markersize=10, label='LHS 1140 b')


# Set the x-axis and y-axis limits
plt.xlim(0, 2)
plt.ylim(0, 2)

# Add the custom legend entry along with the line legend
plt.legend(handles=[legend_entry_1, legend_entry,legend_entry_3,legend_entry_4,legend_entry_5,legend_entry_6], loc='upper left')

plt.xlabel('$D_s$(Diameter of Star)')
plt.ylabel('d(Semi-major axis in AU)')
plt.title('Plot of d $v/s$ $D_s$')
plt.grid(True)
plt.savefig('exoplanet_plot2.pdf',format='pdf', bbox_inches='tight')

plt.show()

In [ ]:
from matplotlib.lines import Line2D

plt.figure(figsize=(10, 6))

# Iterate through the DataFrame and plot scatter points
for index, row in df.iterrows():
    color = 'yellow' if row['pl_name (Exoplanet)'] == 'Earth' else 'blue'
    plt.scatter(row['pl_rade (Dp)'], row['st_rad (Ds)'], color=color, alpha=0.7)

    # Highlight Kepler-452 b and Kepler-62f with special markers
    if row['pl_name (Exoplanet)'] == 'Kepler-452 b':
        plt.scatter(row['pl_rade (Dp)'], row['st_rad (Ds)'], color='red', marker='*', s=100, label='Kepler-452 b')
    if row['pl_name (Exoplanet)'] == 'Kepler-62 f':
        plt.scatter(row['pl_rade (Dp)'], row['st_rad (Ds)'], color='purple', marker='*', s=100, label='Kepler-62 f')
    
    if row['pl_name (Exoplanet)']== 'KOI-4878.01':
        plt.scatter(row['pl_rade (Dp)'], row['st_rad (Ds)'], color='black', marker='*', s=100, label='KOI-4878.01')
    if row['pl_name (Exoplanet)']== 'LHS 1140 b':
        plt.scatter(row['pl_rade (Dp)'], row['st_rad (Ds)'], color='green', marker='*', s=100, label='KOI-4878.01')
        
# Plot the line y = x passing through the origin
max_value = max(df['pl_rade (Dp)'].max(), df['st_rad (Ds)'].max())
plt.plot([0, max_value], [0, max_value], color='green', linestyle='dashed', label='y = x')

# Create custom legend entries for different markers
legend_entry = Line2D([0], [0], marker='o', color='w', markerfacecolor='blue', markersize=8, label='Exoplanets')
legend_entry_1 = Line2D([0], [0], marker='o', color='w', markerfacecolor='yellow', markersize=8, label='Earth')

legend_entry_3 = Line2D([0], [0], marker='*', color='red', markersize=10, label='Kepler-452 b')
legend_entry_4 = Line2D([0], [0], marker='*', color='purple', markersize=10, label='Kepler-62 f')
legend_entry_5 = Line2D([0], [0], marker='*', color='black', markersize=10, label='KOI-4878.01')
legend_entry_6 = Line2D([0], [0], marker='*', color='green', markersize=10, label='LHS 1140 b')


# Set the x-axis and y-axis limits
plt.xlim(0, 2)
plt.ylim(0, 2)

# Add the custom legend entries along with the line legend
plt.legend(handles=[legend_entry_1, legend_entry,legend_entry_3, legend_entry_4,legend_entry_5,legend_entry_6], loc='upper left')

# Use LaTeX-style formatting for the axis labels
plt.xlabel('Diameter of planet ($D_p$)')
plt.ylabel('Diameter of star ($D_s$)')
plt.title('Plot of $D_s$ $v/s$ $D_p$')
plt.grid(True)
plt.savefig('exoplanet_plot.pdf', format='pdf', bbox_inches='tight')
plt.show()

In [ ]:
dff=pd.read_csv('2nd plot ratio-2.csv')
dff

In [ ]:


# Create a list with your own data for the new row
earth = ['Earth', 'sun', 1,1, 1, 1, 1,109.7522, 107.1428]  # Replace 0s with your data
koi= ['KOI-4878.01', 'KOI-4878',1.137,1.04,1.131,1.04,1.131,138.24,108.275]
lhs=['LHS 1140 b','LHS 1140',0.0957,1.635,1.730,1.635,1.730,116.126,5.957]


# Add the new row to the DataFrame
dff.loc[len(dff)] = earth
dff.loc[len(dff)]= koi
dff.loc[len(dff)]= lhs


# Reset the index
dff = dff.reset_index(drop=True)

# Print the DataFrame after adding the new row
dff

In [ ]:
plt.figure(figsize=(10, 6))
for index, row in dff.iterrows():
    color = 'yellow' if row['pl_name (Exoplanet)'] == 'Earth' else 'blue'
    plt.scatter(row['st_rad (Ds)'], row['pl_orbsmax (d)'], color=color, alpha=0.7)
    
    if row['pl_name (Exoplanet)'] == 'Kepler-452 b':
        plt.scatter(row['st_rad (Ds)'], row['pl_orbsmax (d)'], color='red', marker='*', s=100, label='Kepler-452 b')
        
    if row['pl_name (Exoplanet)'] == 'Kepler-62 f':
        plt.scatter(row['st_rad (Ds)'], row['pl_orbsmax (d)'], color='purple', marker='*', s=100, label='Kepler-62 f')
        
    if row['pl_name (Exoplanet)']== 'KOI-4878.01':
        plt.scatter(row['st_rad (Ds)'], row['pl_orbsmax (d)'], color='black', marker='*', s=100, label='KOI-4878.01')
    if row['pl_name (Exoplanet)']== 'LHS 1140 b':
        plt.scatter(row['st_rad (Ds)'], row['pl_orbsmax (d)'], color='green', marker='*', s=100, label='LHS 1140 b')

# Plot the line y = x passing through the origin
max_value = max(df['st_rad (Ds)'].max(), df['pl_orbsmax (d)'].max())
plt.plot([0, 6], [0, 6], color='green', linestyle='dashed')

# Create a custom legend entry for the blue data points
legend_entry = Line2D([0], [0], marker='*', color='w', markerfacecolor='blue', markersize=8, label='Exoplanets')
legend_entry_1 = Line2D([0], [0], marker='*', color='w', markerfacecolor='yellow', markersize=8, label='Earth')

legend_entry_3 = Line2D([0], [0], marker='*', color='red', markersize=10, label='Kepler-452 b')
legend_entry_4 = Line2D([0], [0], marker='*', color='purple', markersize=10, label='Kepler-62 f')
legend_entry_5 = Line2D([0], [0], marker='*', color='black', markersize=10, label='KOI-4878.01')
legend_entry_6 = Line2D([0], [0], marker='*', color='green', markersize=10, label='LHS 1140 b')


# Set the x-axis and y-axis limits
plt.xlim(0, 2)
plt.ylim(0, 2)

# Add the custom legend entry along with the line legend
plt.legend(handles=[legend_entry_1, legend_entry,legend_entry_3,legend_entry_4,legend_entry_5,legend_entry_6], loc='upper left')

plt.xlabel('$D_s$(Diameter of Star)')
plt.ylabel('d(Semi-major axis in AU)')
plt.title('Plot of d $v/s$ $D_s$')
plt.grid(True)
plt.savefig('exoplanet_plot2.pdf',format='pdf', bbox_inches='tight')

plt.show()

In [ ]:
#scale x axis from 0-2
#scale y-axis from 0-2
#mention kepler-452b and kepler-62f 
#add KOI-4878.01